<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="shortcut icon" href="/www/favicon.ico" type="image/x-icon">
</head>
<body>
	indexasdasdsadasd

	<h1>
		<h1><%= title %></h1>
	</h1>
</body>
</html>